@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer base {
  .bg-blur {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    /* Define a transparência do background */
  }

  button {
    @apply bg-gray-200 text-gray-700;
  }

  button:hover {
    @apply bg-gray-300 text-gray-800;
  }
}
